<div *ngIf="!isLoading && todos.length<1" class="d-flex align-items-center justify-content-center" style="height: 450px">
    Your TODO list is empty!
</div>

<div *ngIf="isLoading" class="d-flex align-items-center justify-content-center" style="height: 450px">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div> 

<div *ngIf="!isLoading && todos.length>0" class="container">
    <div class="container">
        <h1>List of Todos</h1>
    </div>
    <div class="container">


    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Description
                </th>
                <th>
                    Target date of completion
                </th>
                <th>
                    Is completed?
                </th>
                <th>
                    Remove
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let todo of todos">
            <tr>
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.dateOfCompletion | date | uppercase}}</td>
                <td>{{todo.isCompleted}}</td>
                <td><button class="btn btn-warning" (click)="deleteTodo(todo.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>