<input [type]="type" class="form-control" [formControl]="control" aria-describedby="emailHelp"
            [placeholder]="placeholder">
<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.required" class="text-danger">
        Value required!
    </p>
    <p class="text-danger" *ngIf="control.errors?.minlength">
        The value you entered is 
        {{control.errors?.minlength.actualLength}}
        characters long.
        It must be atleast 
        {{control.errors?.minlength.requiredLength}}
        characters long.
    </p>
    <p class="text-danger" *ngIf="control.errors?.pattern">
        Password must be at least 8 characters long also must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number
        and should contain special characters.
    </p>
</ng-container>
    